@model Models.Role

@{
	string strTitle = "نمایش نقش";

	ViewBag.Title = strTitle;
}

<h2>
	@strTitle
</h2>

<hr />

<div>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.IsActive)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsActive)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>
</div>

<div class="links">
	@Html.ActionLink("ویرایش", MVC.Roles.Edit(Model.Id)) |
	@Html.ActionLink("حذف", MVC.Roles.Delete(Model.Id)) |
	@Html.ActionLink("بازگشت به فهرست", MVC.Roles.Index())
</div>
